# Core Framework
Django==5.1.4

# Image Processing & Media
Pillow>=10.4.0 --pre

# Frontend Integration
django-tailwind==3.8.0

# API Development
djangorestframework==3.14

# Form rendering
django-widget-tweaks==1.5.0
